@inject HttpClient Http
@page "/fightview"
@if (Characters != null && Characters.Count > 0)
{
    <div class="row">
        <div class="col-6">
            @if (Fighters != null && Fighters.Count > 0)
            {
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Fighter</th>
                            <th>Comment</th>
                        </tr>
                    </thead>
                    @foreach (var fighter in Fighters)
                    {
                        <tr>
                            <td>@fighter.FightingName</td>
                            <td>
                                <div class="row">
                                    <div class="col-11"> @fighter.FightingComment </div>
                                    <button @onclick="()=>RemoveFighter(fighter)" class="btn btn-danger col-1">&#10007</button>
                                </div>
                            </td>
                        </tr>
                    }
                </table>
            }
        </div>
        <div class="col-6">
            <div class="row">
                @if (!(ElapsedFightingTime > 0d))
                {
                    <button disabled="@(Fighters.Count==0)" class="btn btn-primary" @onclick="()=>StartFight()">Start</button>
                }
                else
                {
                    <button class="btn btn-primary" @onclick="()=>NextStep()">Next</button>
                }
            </div>
            <div class="row">
                <label class="col-form-label">Add new Enemy</label>
                <input class="form-control" list="possibleFightParticipants" @bind="SelectedCharacterModelName" />
                <datalist id="possibleFightParticipants">
                    @foreach (var character in Characters)
                    {
                        <option>@character.Name</option>
                    }
                </datalist>
                <button disabled="@(SelectedCharacterForFight==null)" class="btn btn-primary" @onclick="()=>AddFighter()">Fight!</button>
            </div>
        </div>
    </div>
}