@inject PlayerViewEventBus EventBus
@using GurpsCompanion.Shared.DataModel
<label class="col-form-label-lg">Advantages (@CpSumOfAdvantages CP)</label>
<table class="table-sm" style="height:500px; overflow-y:scroll;display:block">
    @foreach (var item in Advantages)
    {
        <tr @onclick="()=> { SelectedRow = item; EventBus.InvokeSelectedAdvantageChanged(item.Clone()); }"
            class="@(item==SelectedRow?"table-active":"")" style="padding:0">
            <td>
                <b>@item.Name <br /> @(item.Skillable?item.Cost+" CP/Level":item.Cost+" CP")</b>
            </td>
            <td> @item.Level</td>
            <td> @item.Description </td>
        </tr>
    }
</table>

@code {
    [Parameter]
    public IEnumerable<AdvantageModel> Advantages { get; set; }
    public AdvantageModel SelectedRow { get; set; }
    public long CpSumOfAdvantages => Advantages.Sum(a => a.Level * a.Cost);

}