@using GurpsCompanion.Shared.DataModel
@using GurpsCompanion.Shared.Features.PlayerView
@inject HttpClient Http
@inject IJsFunctionCallerServiceFactory JsServiceFactory
@inject PlayerViewEventBus EventBus
@inject IEncumbranceCalculator EncumbranceCalculator

<div class="row col-md-12">
    <label class="col-form-label-lg col-md-2"> @TotalMoney.ToString("C2") </label>
    <label class="col-form-label-lg col-md-2"> Weight: @TotalWeight.ToString("N2") </label>
    <label class="col-form-label-lg col-md-3"> @Encumbrance.Description </label>
    <label class="col-form-label-lg col-md-2"> BM: @Encumbrance.BM </label>
    <label class="col-form-label-lg col-md-2"> Dodge: @Encumbrance.Dodge </label>
</div>
<EditForm class="col-md-12" Model="ItemEditModel" OnValidSubmit="UpdateItem">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    @if (SelectedCharacterModel != null)
    {
        <table class="table-sm col-md-12" style="height:500px; overflow-y:scroll;display:block">
            @foreach (var item in Items)
            {
                Action ClickAction = () => { ItemEditModel = item.Clone(); SelectedRow = item; };
                <tr class="col-md-12 @(SelectedRow==item?"table-active":"")" style="padding:0">
                    <td><InputCheckbox style="transform:scale(1.5)" @bind-Value="item.Equipped" @onclick="()=>EquipItem(item)"></InputCheckbox></td>
                    <td><InputNumber style="width:100px" @bind-Value="item.Count" @onblur="()=> ChangeCount(item,item.Count)"></InputNumber> </td>
                    <td @onclick="ClickAction">
                        <b>@item.Name</b><br />@item.Price.ToString("C2") - @item.Weight.ToString() BL
                    </td>
                    <td @onclick="ClickAction"> @item.Description </td>
                </tr>
            }
        </table>
        <ValidationSummary></ValidationSummary>
        <DataList Items="ItemNames" InputHasChanged="InputHasChanged" LabelText="Select Item"></DataList>
        <div class="d-flex col-md-12 flex-wrap">
            <div class="ml-1 flex-fill">
                <label class="col-form-label">Name</label>
                <InputText @bind-Value="@ItemEditModel.Name" class="form-control"></InputText>
            </div>
            <div class="ml-1 col-md-3">
                <label class="col-form-label">Price</label>
                <InputNumber @bind-Value="@ItemEditModel.Price" class="form-control"></InputNumber>
            </div>
            <div class="ml-1 col-md-3">
                <label class="col-form-label">Weight</label>
                <InputNumber @bind-Value="@ItemEditModel.Weight" class="form-control"></InputNumber>
            </div>
            <div class="ml-1 flex-fill">
                <label class="col-form-label">Description</label>
                <InputTextArea @bind-Value="@ItemEditModel.Description" class="form-control"></InputTextArea>
            </div>
            <div class="d-flex justify-content-between col-md-12">
                <button class="btn btn-primary m-2" @onclick="()=>SubmitAction=Core.CrudActions.Add" type="submit">Add new Item</button>
                <button class="btn btn-primary m-2" @onclick="()=>SubmitAction=Core.CrudActions.Update" type="submit">Update Item</button>
                <button class="btn btn-primary m-2" @onclick="()=>SubmitAction=Core.CrudActions.Delete" type="submit">Delete Item</button>
            </div>
        </div>
    }
</EditForm>