@using GurpsCompanion.Shared.DataModel
@inject HttpClient Http
@inject PlayerViewEventBus EventBus
@inject IJsFunctionCallerServiceFactory JsServiceFactory

<label class="col-md-12 col-form-label-lg">Glossary</label>
<EditForm class="col-md-12" Model="GlossaryEditModel" OnValidSubmit="UpdateEntry">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>
    @if (GlossaryEntries != null)
    {
        <table class="table" style="height:500px; overflow-y:scroll;display:block">
            @foreach (var item in GlossaryEntries)
            {
                <tr @onclick="()=> { GlossaryEditModel= item.Clone();SelectedRow = item; }"
                    class="@(item==SelectedRow?"table-active":"")" style="padding:0">
                    <td> <b>@item.Name </b> </td>
                    <td> @item.Description </td>
                </tr>
            }
        </table>
        <ValidationSummary></ValidationSummary>
        <div class="row col-md-12">
            <div class="col-md-2">
                <label class="col-form-label">Name</label>
                <InputText @bind-Value="@GlossaryEditModel.Name" class="form-control"></InputText>
            </div>
            <div class="col-md-10">
                <label class="col-form-label">Description</label>
                <InputTextArea @bind-Value="@GlossaryEditModel.Description" class="form-control"></InputTextArea>
            </div>
            <div class="d-flex justify-content-between col-md-12">
                <button class="btn btn-primary m-2" @onclick="()=>SubmitAction=Core.CrudActions.Add" type="submit">Add new Entry</button>
                <button class="btn btn-primary m-2" @onclick="()=>SubmitAction=Core.CrudActions.Update" type="submit">Update Entry</button>
                <button class="btn btn-primary m-2" @onclick="()=>SubmitAction=Core.CrudActions.Delete" type="submit">Delete Entry</button>
            </div>
        </div>
    }
</EditForm>